@font-face {
  font-family: 'Orbitron-Regular';
  src: url(~@/assets/fonts/Orbitron-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron-Medium';
  src: url(~@/assets/fonts/Orbitron-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron-SemiBold';
  src: url(~@/assets/fonts/Orbitron-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron-Bold';
  src: url(~@/assets/fonts/Orbitron-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron-ExtraBold';
  src: url(~@/assets/fonts/Orbitron-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Orbitron-Black';
  src: url(~@/assets/fonts/Orbitron-Black.ttf) format('truetype');
}
