@import "./_fonts.scss";

$bold-font-family: 'Orbitron-Bold';

.point-counter {
  font-family: $bold-font-family;
  font-size: 2rem;
  text-shadow:
          -2px -2px 0 #fff,
          2px -2px 0 #fff,
          -2px 2px 0 #fff,
          2px 2px 0 #fff;
}

.intro-font {
  font-family: $bold-font-family;
  font-size: 1.5rem;
}
