@import "./_fonts.scss";

$bold-font-family: 'Orbitron-Bold';
$default-text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
$tiny-text-shadow: -.055em -.055em 0 #fff, .055em -.055em 0 #fff, -.055em .055em 0 #fff, .055em .055em 0 #fff;
$fatigue-color: #FFCC33;
$aggression-color: #FF0201;

.point-counter {
  font-family: $bold-font-family;
  font-size: 2rem;
  text-shadow: $default-text-shadow;
}

.team-font {
  font-family: $bold-font-family;
  font-size: 1.25rem;
  text-shadow: $default-text-shadow;
}

.intro-font {
  font-family: $bold-font-family;
  color: #000000;
  font-size: 1.5rem;
  text-shadow: $default-text-shadow;
}
